os: osx
language: swift
osx_image: xcode9.4
script:
    - xcodebuild clean test -project DollarGestureRecognizer.xcodeproj -scheme DollarGestureRecognizer -destination "platform=iOS Simulator,name=iPhone 8,OS=latest" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO -quiet
